/* ~Base Styles. */
/* &Body General Styles */ 
body{
    background-color: #003a6f;
    font-family: "louize", "Georgia", "Times", "Times New Roman", serif;    
    color: white;
}

/* &Navegation Section*/
/* ^Main Container */
header{
    height: 3.2vh;
    margin: 4vh 0.8vw;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

/* ^Navegation Content */
nav>div{
    display: flex;
}

nav>div>div, nav ul{
    display: flex;
    padding: 0;
    margin: 0;
}

nav ul{
    list-style: none;
}

nav li{
    padding: 0;
    margin: 5%;
}

.moons-logo{
    margin: 0;
}