/* ~Base Styles. */
/* &Body General Styles */ 
body{
    font-family: "louize", "Georgia", "Times", "Times New Roman", serif;    
    color: white;
    background-color: #003a6f;
    margin: 0;
}

/* &Header*/
/* ^Main Container */
header{
    height: 3.2vh;
    margin: 4vh 1.4vw 4vh 1.65vw;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header>div{
    display: flex;
}

/* ^Content */
nav ul{
    margin: 0;
    list-style: none;
    display: flex;
}