/* ~Base Styles. */
/* &Body General Styles */ 
body{
    background-color: #003a6f;
    font-family: "louize", "Georgia", "Times", "Times New Roman", serif;    
    color: white;
}

/* &Header*/
header{
    height: 3.2vh;
    margin: 4vh 0.8vw;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

header>div{
    display: flex;
}

nav ul{
    margin: 0;
    list-style: none;
    display: flex;
}